[submodule "libncgc"]
	path = libncgc
	url = https://github.com/angelsl/libncgc.git
[submodule "flashcart_core"]
	path = flashcart_core
	url = https://github.com/angelsl/flashcart_core.git
	branch = ncgc
